<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Home</title>
    </head>
    <body>
        <h5> Welcome to the home of restaurants, please do your selection below.</h5>
       <div class="links">
            <ul>
                <li>
                    <a href="/Food Mood"> Food Mood</a>
                </li>
                <li>
                    <a href="/Gedion Master"> Gedion Master</a>
                </li>
            </ul>
       </div>
    </body>
</html>