<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color:  rgb(0, 0, 0);
            text-align: center;
            padding-top: 50px; /* Adjust as needed */
        }
        .container {
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        h1 {
            color: rgb(253, 167, 6);
        }
        h5 {
            color: #333;
            margin-bottom: 30px;
        }
        ul {
            list-style-type: none;
            padding: 0;
        }
        li {
            margin-bottom: 10px;
        }
        a {
            text-decoration: none;
            color: #007bff;
            transition: color 0.3s ease;
        }
        a:hover {
            color: #0056b3;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Restaurants</h1>
        <h5>Welcome to the home of restaurants, please select the restaurant of your choice below.</h5>
        <ul>
            <li>
                <a href="/Food Mood">Food Mood</a>
            </li>
            <li>
                <a href="/Gedion Master">Gedion Master</a>
            </li>
        </ul>
    </div>
</body>
</html>
