body {
    background-color:  rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.heading {
    text-align: center;
}
  
.diamond-line {
    position: relative;
    height: 20px; /* Adjust the height as needed */
    margin: 0;
    padding: 0;
    overflow: hidden;
    clear: both;
}

.diamond-line::before,
.diamond-line::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px; /* Adjust the size of the diamonds */
}

.diamond-line::before {
    top: 0;
    left: 0;
    border-color: transparent transparent transparent #fffefe; /* Adjust the color */
}

.diamond-line::after {
    top: 0;
    right: 0;
    border-color: transparent #fdfcfc transparent transparent; /* Adjust the color */
}


.sub-heading {
    display: inline-block;
    background-color: rgb(253, 167, 6);
    color: #080808; /* Button text color */
    padding: 10px 20px; /* Adjust padding as needed */
    border-radius: 5px; /* Adjust border radius for rounded corners */
    cursor: pointer;
    transition: background-color 0.3s; /* Smooth background color transition */
}

.sub-heading:hover {
    background-color: #2980b9; /* Change background color on hover */
}


.name_price {
    display: flex;
    justify-content: space-evenly;
}


em {
    margin-left: 35px;

}


.starter {
    float: left;
    margin-left: 55px;
    /* clear: both; */

}

.main {
    float: right;
    clear: both;
    margin-right: 55px; 
}

.beverages {
    float: left;
    margin-left: 55px;
    clear: both;
}

/* Additional styling for better readability */
.category {
    margin-bottom: 20px;
    padding: 10px;
}

.category h2 {
    margin-top: 0;
}

.category ul {
    list-style-type: none;
    padding: 0;
}

.category li {
    margin-bottom: 10px;
}

.contacts {
    align-items: center;
    text-align: center;
    clear: both;
}